.App {
    display: grid;
    grid-template-columns: 1fr 650px 1fr;
    grid-template-rows: 50px auto 130px;
    grid-template-areas:
            ". header ."
            ". body ."
            ". footer .";
    text-align: center;
}

.App-header {
    grid-area: header;
    background-color: #f1c40f;
    align-self: center;
    /*border-radius: 8px;*/
    /*margin: -20px 0px 0px 0px;*/
}

.App-body {
    grid-area: body;
    border: 3px solid #f1c40f;
    margin: 0px 0px 0px 0px;
    /*border-radius: 8px;*/
    /*margin-bottom: 7px;*/
}

.App-footer {
    grid-area: footer;
    background-color: #f1c40f;
    align-self: center;
    /*border-radius: 8px;*/
}

