.App {
    display: grid;
    grid-template-columns: 1fr 650px 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
            ". header ."
            ". body .";
    text-align: center;
}

.App-header {
    grid-area: header;
    justify-self: start;
    align-self: end;
}

.App-body {
    grid-area: body;
}

