.App {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 20px 1fr 100px;
    grid-template-areas: ". head ." ". body ." ". footer .";
    grid-row-gap: 0em;
}

.App-header {
    grid-area: head;
    border-collapse: separate;
}

.App-body {
    grid-area: body;
}

.App-footer {
    grid-area: footer;
}

