.Collections {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16px auto;
    grid-template-areas:
            "cbar"
            "clist";
    padding-bottom: 10px;
}

.Collections-list {
    grid-area: clist;
}

.Collections-bar {
    grid-area: cbar;
    height: 16px;
    width: 100%;
    background-color: #C0C0C0;
}
