.Collection-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px auto;
    grid-template-areas:
            "libtop"
            "libdetail";
    padding-bottom: 10px;
}

.Collection-list-top {
    grid-area: libtop;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            "opener libtitle";
    grid-column-gap: 5px;
}

.Collection-list-opener {
    grid-area: opener;
}

.Collection-list-opener:hover {
    color: blue;
}

.Collection-list-title {
    grid-area: libtitle;
}

.Collection-list-detail {
    grid-area: libdetail;
    display: grid;
    grid-template-columns: 200px 5% 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            "detailImage . detailText";
    grid-column-gap: 15px;
}

.Collection-list-detail-image {
    grid-area: detailImage;
}

.Collection-list-detail-text {
    grid-area: detailText;
}
