.Collection-preview-view {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
            "previewNav"
            "previewDetail";
    padding-bottom: 10px;
    justify-content: center;
}

.Collection-preview-view-nav {
    grid-area: previewNav;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 150px 350px 150px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            ". previewPrevious previewCurrent previewNext .";
    padding-bottom: 10px;
    justify-items: center;
}

.Collection-preview-previous {
    grid-area: previewPrevious;
    align-self: center;
}

.Collection-preview-previous:hover {
    cursor: pointer;
}

.Collection-preview-current {
    grid-area: previewCurrent;
    align-self: center;
}

.Collection-preview-next {
    grid-area: previewNext;
    align-self: center;
}

.Collection-preview-next:hover {
    cursor: pointer;
}

.Collection-preview-detail {
    grid-area: previewDetail;
    justify-content: center;
    text-align: center;
}