.Collections {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 45px auto;
    grid-template-areas:
            "cbar"
            "switches"
            "clist";
    padding-bottom: 10px;
}

.Collections-switches {
    grid-area: switches;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20px;
    justify-content: center;
    grid-row-gap: 0em;
    font-size: large;
}

.Collections-switches:hover {
    cursor: pointer;
}

.Collections-view {
    grid-area: clist;
}

.Collections-bar {
    grid-area: cbar;
    height: 16px;
    width: 100%;
    background-color: black;
}

.Collections-list-btn {
    grid-area: listBtn;
    font-weight: bold;
}

.Collections-list-btn:hover {
    color: blue;
}

.Collections-preview-btn {
    grid-area: previewBtn;
    font-weight: bold;
}

.Collections-preview-btn:hover {
    color: blue;
}

.Collections-thumb-btn {
    grid-area: thumbBtn;
    font-weight: bold;
}

.Collections-thumb-btn:hover {
    color: blue;
}

.Collections-thumb-view {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Collections-switches-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Collections-switches-li {
    float: left;
    display: block;
    padding: 8px;
}