.Footer {
    display: grid;
    background-color: #F0F0F0;
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto;
    grid-template-areas:
            "footerDetail footerImage";
    grid-column-gap: 10px;
    border-bottom: 5px solid black;
}

.Footer-image {
    grid-area: footerImage;
}

.Footer-detail {
    grid-area: footerDetail;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
    grid-template-areas:
            "footerTitle"
            "footerChannel";
    font-weight: bold;
}

.Footer-title {
    grid-area: footerTitle;
    text-align: right;
}

.Footer-channel {
    grid-area: footerChannel;
    font-size: medium;
}

