.Header {
    display: grid;
    grid-template-columns: 60px 60px 60px 1fr;
    grid-template-rows: 20px;
    grid-template-areas: "home library about . ";
    grid-row-gap: 0em;
}

.Header-home {
    grid-area: home;
    /*background-color: green;*/
}

.Header-library {
    grid-area: library;
    /*background-color: yellow;*/

}
.Header-about {
    grid-area: about;
    /*background-color: red;*/
}
