.Header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "home about library";
    align-self: center;
}

.Header-home {
    grid-area: home;
    align-self: center;
}
.Header-library {
    grid-area: library;
}
.Header-library {
    grid-area: about;
}
