.Player {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px;
    grid-template-areas:
            "pbar" "seek" "ptitle" "pplay";
    grid-row-gap: 0em;
}

.Player-bar {
    grid-area: pbar;
    height: 16px;
    width: 100%;
}

.Player-seek {
    grid-area: seek;
    width: 100%;
}

.Player-seek:hover {
    color: red;
    cursor: pointer;
}

.Player-title{
    grid-area: ptitle;
    width: 100%;
}

.Player-controls {
    grid-area: pplay;
    display: grid;
    grid-template-columns: 25px 100px;
    grid-template-rows: 20px;
    grid-template-areas:
            "pplay pduration";
}

.Player-play {
    grid-area: pplay;
    color: black;
    vertical-align: text-top;
}

.Player-play:hover {
    color: red;
    cursor: pointer;
}

.Player-duration {
    display: flex;
    vertical-align: text-bottom;
    grid-area: pduration;
}
