.Playing-previous:hover {
    color:red;
}

.Playing-like:hover {
    color:red;
}

.Playing-next:hover {
    color:red;
}

.Playing-previous {
    grid-area: previous;
    text-align: left;
}
.Playing-like {
    grid-area: liked;
    text-align: center;
}
.Playing-social {
    grid-area: social;
    text-align: center;
}
.Playing-next {
    grid-area: next;
    text-align: right;
}

.Playing-nav {
    display: grid;
    grid-template-columns: 40px 1fr 1fr 40px;
    grid-template-rows: auto;
    grid-template-areas:
            "previous liked social next";
    grid-column-gap: 10px;
}