.Playing-previous:hover {
    color:red;
}

.Playing-like:hover {
    color:red;
}

.Playing-next:hover {
    color:red;
}

.Playing-previous {
    grid-area: previous;
    text-align: right;
}

.Playing-like {
    grid-area: liked;
    text-align: center;
}

.Playing-next {
    grid-area: next;
    text-align: left;
}

.Playing-nav {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: auto;
    grid-template-areas:
            "previous liked next";
    grid-column-gap: 10px;
    align-self: center;
}

.Playing-nav:hover {
    cursor: pointer;
}
