.Toggle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Toggle-inactive:hover {
    color:blue;
    cursor: pointer;
}

.Toggle-active {
    border: 1px solid black;
    font-weight: bold;
    display: inline;
    color: black;
}

.Toggle-inactive {
    border: 1px solid black;
    font-weight: bold;
    background-color: #3c3f41;
    color: white;
    display: inline;
}
