html, body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: 'San Francisco', 'SNFS Display', BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #000000;
    font-weight: 300;
    letter-spacing: .025rem;
    line-height: 1.618;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link, a:visited {
    color: #000000;
}

a:hover {
    color: #000000;
}

a:active {
    background-color: #f1c40f;
}
